@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Single page application with Sammy</h2>
        <p>An example of using routing with SammyJS to build a more scalable, and easier to maintain single page application</p>
        <p><a class="btn btn-default" href="/home/spa_2">SPA with Sammy JS &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SammyJS</h2>
        <p>Visit the SammyJS website, learn more about eventing and plugins and read the docs</p>
        <p><a class="btn btn-default" target="_new" href="http://sammyjs.org/docs">Learn more &raquo;</a></p>
    </div>
</div>